<%= hidden_field_tag path[0..-3] + '[-1]', nil  %>
<% dom_id = "items_#{association_name}" %>

<div id="<%= dom_id %>" style="clear: left">
  <ul class="items">
    <li class="item">
      <table>
        <tr>
          <td><%= form %></td>
          <td valign="top">
            <%= link_to glyph('add'), '#', :class => 'new' %>
            <%= link_to glyph('delete'), '#', :class => 'delete' %>
          </td>
        </tr>
      </table>    
    </li>
  </ul>
</div>

<script type="text/javascript" charset="utf-8">
$(function() {
  $('#<%= dom_id %>').associatedForm({
    items: <%= associated_objects.each { |e| e.id ||= '' }.to_json %>,
    path:  <%= path.to_json %>
  })
});
</script>