<h1><%= dashboard_heading -%><%= space_heading || admin_heading %></h1>

<% if User.active %>
  <ul id="meta-nav">
    <li><%= space_chooser %></li>
    <li class="separator">|</li>
    <li><%= link_to 'Sign out', logout_url, :method => :delete %></li>
  </ul>  
<% end %>
<%= navigation %>
<div class="hr"><hr /></div>