<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <title><%= @space.name %> | <%= @page.name %></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="<%= theme_path %>/default.css" />
    <%= support_files %>
  </head>
  <body>
  <%= support_toolbar %>
  
    <div id="hdr">
      <div id="inner">
        <img src="<%= theme_path %>/images/hdr.jpg" alt="" />
      </div>
    </div>
    
    <div id="wrapper">
      <div id="menu">
        <%= site_menu %>
        <div class="clearfix"></div>
      </div>
      <div id="content">
        <div id="main" class="left">
          
        </div>
        <div id="sidebar" class="right">
          
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    
<!--
    <div id="container">
      <div id="hdr">
        <table cellspacing="0">
          <tr>
            <td><img src="<%= theme_path %>/images/mainpagewvhclogocutout.jpg" alt="" /></td>
            <td><img src="<%= theme_path %>/images/banner.jpg" alt="" class="right" /></td>
          </tr>
          <tr>
            <td class="donate"><a href="/">Donate Today</a></td>
            <td class="menu">
              <%= site_menu %>
            </td>
          </tr>
        </table>
      </div>
      <div id="content">
        <table>
          <tr>
            <td class="sidebar">
              <%= content_for :sidebar %>
            </td>
            <td class="content">
              <%= content_for :main %>
              <div class="upcoming">
                <%= content_for :coming_up %>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
-->
  </body>
</html>