<p class="info">
  <% if resource.parent.root? %>
    This is a top-level page
  <% else %>  
    This page be created in <span><%= resource.parent.path_names.join(' &raquo; ') %></span>
  <% end %>
</p>

<%= form.hidden_field(:parent_id, :template => nil) if resource.new_record? %>

<% content_for_variable(:current_default) do %>
  <% if (default_page = enclosing_resource.default_page) && default_page != resource %>
    <span style="font-size: 0.9em">(currently set to
      <strong><%= enclosing_resource.default_page.name %></strong>)
    </span>
  <% end %>
<% end %>

<% fieldset 'Information' do %>
  <%= form.text_field :name %>
  <%= form.select :template, @space.theme.templates %>
  <%= form.check_box :is_default, :template => 'trailing_label_element', :label => 'Set as default page? ' + yield(:current_default) %>
  <%= form.check_box :is_hidden,  :template => 'trailing_label_element', :label => 'Hide this page?' %>
<% end %>

<% fieldset 'Permalinks' do %>
  <% associated_form :permalinks do |item| %>
    <%= item.text_field :name, :label => 'Path' %>
    <%= item.hidden_field :id, :template => 'hidden_field' %>
  <% end %>
<% end %>