<%= form.text_field :name %>

<% associated_form :permalinks do |item| %>
  <%= item.text_field :name %>
  <%= item.hidden_field :id, :template => 'hidden_field' %>
<% end %>

<%= form.select :template, @space.theme.templates %>

<% content_for_variable(:current_default) do %>
  <% if (default_page = enclosing_resource.default_page) && default_page != resource %>
    <span style="font-size: 0.9em">(currently set to
      <strong><%= enclosing_resource.default_page.name %></strong>)
    </span>
  <% end %>
<% end %>

<% @page.is_default = @space.pages.length == 2 if @page.new_record? %>
<%= form.check_box :is_default, :template => 'trailing_label_element', :label => 'Set as default page? ' + yield(:current_default) %>
<%= form.check_box :is_hidden,  :template => 'trailing_label_element', :label => 'Hide this page?' %>

<% form.actions do %>
  <%= submit_tag 'Save and continue editing', :style => 'font-weight: bold' %> 
  <%= submit_tag 'Save' %>
  or 
  <%= cancel_link %>
<% end %>