<% heading do %>
  <%= link_to 'Sign in', login_path %> <span>or</span> Request an account
<% end %>

<% head stylesheet_link_tag('login') %>

<% form_for :account, :url => account_url, :builder => Slate::FormBuilder do |form| %>
  <% form.default_template = 'row' %>
  <% form.label_append = ':' %>
  <table>
  <%= form.text_field 'username', :size => 20 -%>
  <%= form.text_field 'first_name', :size => 20 -%>
  <%= form.text_field 'initial', :size => 4 -%>
  <%= form.text_field 'last_name', :size => 20 -%>
  <%= form.text_field 'email_address', :size => 30, :tip => 'Note: A valid email address is required.' -%>
  
  </table>
  <%= form.text_area 'reason_for_account', :template => 'element', 
    :tip => 'Please provide the reason you are requesting an account.',
    :rows => 4 %>
  
  <% form.actions do %>
    <%= submit_tag 'Request account' %>
  <% end %>
<% end %>