<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>slate</title>
	<link rel="shortcut icon" href="/favicon.ico" />
	<%= stylesheet_link_tag 'base', 'flash' %>
	<%= javascript_include_tag 'jquery' %>
	<%= yield :head %>
</head>
<body>
  <div id="header">
    <%= render :partial => 'shared/header' %>
  </div>
  
  <div id="body">
    <h2 class="heading"><%= yield :heading %></h2>
    <%= toolbar :id => 'toolbar' %>
    <%= render :partial => 'shared/flash', :object => flash %>
    <div id="content">
      <%= yield %>
    </div>
    
    <div class="bottom"></div>
  </div>
  
  <div id="footer">
    (<%= RAILS_ENV %>, build <%= Slate::Version.to_s %>)
  </div>
</body>
</html>